<div id="<%= dom_id administrador %>">
  <p>
    <strong>Nome:</strong>
    <%= administrador.Nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= administrador.Email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= administrador.Senha %>
  </p>

</div>
